%p.chat-main__message-name
  = message.user.name
%p.chat-main__message-time
  = time(message)
- if message.body.present?
  %p.chat-main__message-body
    = message.body
- if message.image.present?
  %p.chat-main__message-image
    = image_tag message.image