.chat-group-form
  %h1 チャットグループ編集
  = form_for @group, remote: :true do |f|
    - if @group.errors.any?
      .chat-group-form__errors
        %h2= "#{@group.errors.full_messages.count}件のエラーが発生しました。"
        %ul
          - @group.errors.full_messages.each do |message|
            %li= message

    .chat-group-form__field.clearfix
      .chat-group-form__field--left
        = f.label :name, "グループ名",class: 'chat-group-form__label'
      .chat-group-form__field--right
        = f.text_field :name, class: 'chat-group_name chat-group-form__input', placeholder: 'グループ名を入力してください'

    .chat-group-form__field.clearfix
      .chat-group-form__field--left
        = f.label :user_ids, "チャットメンバーを追加",class: 'chat-group-form__label'
      .chat-group-form__field--right
        .chat-group-form__search.clearfix
          %input#user-search-field.chat-group-form__input{ placeholder: "追加したいユーザー名を入力してください", type: "text" }
        #user-search-result

    .chat-group-form__field.clearfix
      .chat-group-form__field--left
        = f.label :user_ids, "チャットメンバー", class: "chat-group-form__label"
      .chat-group-form__field--right
        #chat-group-users
          .chat-group-user
            = current_user.name
            = f.hidden_field :user_ids, value: current_user.id, name: 'group[user_ids][]'
          = render partial: 'groups/user', collection: @group.users.where.not(id: current_user.id)

    .chat-group-form__field.clearfix
      .chat-group-form__field--left
      .chat-group-form__field--right
        = f.submit class: 'chat-group-form__action-btn'