$white: #ffffff;
$sky-blue: #38aef0;
$cyan: #38fef0;
$gray: #999999;
$dark-gray: #434a54;
$light-gray: #eee;
$sky-gray: #b8c3c7;
$gargoyle: #333333;
$dark-blue: #253141;
$navy-blue: #2f3e51;
$light_blue: #38AEF0;
$alert_orange: #F35500;