html,body{
  height: 100%;
  background-color: $white;
  margin: 0 auto;
}

a{
  text-decoration: none;
  color: $white;
}

body{
  position: fixed;
  width: 100%;
}

.chat-side{
  height: 100%;
  width: 300px;
  float: left;

  &__user{
    height: 15%;
    width: 100%;
    position: relative;
    background-color: $dark-blue;

    &-content{
      @include clearfix();
      height: 50px;
      width: 100%;
      line-height: 50px;
      color: $white;
      margin: auto 0;
      position: absolute;
      top: 0;
      bottom: 0;

      &-name{
        font-size: 16px;
        font-weight: bold;
        color: $white;
        margin: 0 20px;
        display: inline-block;
        float: left;
      }

      &--new-group{
        margin-left: 90px;
        position: relative;
        display: inline-block;

        .fa{
          display: inline-block;
          color: $white
        }
      }

      &--edit-user{
        display: inline-block;
        .fa{
          display: inline-block;
          color: $white
        }
      }
    }
  }

  &__groups{
    height: 85%;
    width: 100%;
    background-color: $navy-blue;
    overflow-y: scroll;

    &-list{
      color: $white;
    }
      .chat-side__group{
        padding: 20px;

        &-name{
          font-size: 15px;
          color: $white
        }

        &-message{
          font-size: 11px;
          color: $white;
        }
      }
  }
}

.chat-main{
  height: 100vh;
  width: calc( 100vw - 300px );
  float: left;

  &__header{
    height: 15%;
    border: 1px solid $light-gray;

    &--group{
      @include clearfix();
      margin: 0 40px;

      &-name{
        color: $gargoyle;
        font-size: 20px;
        margin: 35px 0 15px;
        float: left;
      }

      &-edit-btn{
        color: $cyan;
        font-size: 15px;
        padding: 12.5px 20px;
        margin: 28px 20px 0;
        border: 1px solid $cyan;
        float: right;
      }
    }

    &-members{
      color: $gray;
      font-size: 12px;
      margin: 0 40px;
      span{
        font-style: italic;
        margin: 0;
      }
    }
  }

  &__body{
    height: calc( 100vh - 15% - 92px );
    overflow-y: scroll;

    &--messages-list{
      padding-top: 26px;
      padding-left: 40px;
    }

      .chat-main__message{
        @include clearfix();
        padding: 20px 40px;

        &-name{
          color: $dark-gray;
          font-size: 16px;
          font-weight: bold;
          float: left;
        }

        &-time{
          color: $gray;
          padding: 2px 10px 0;
          font-size: 12px;
          float: left;
        }

        &-image{
          padding: 10px 0 20px;
          clear: both;
        }

        &-body{
          color: $dark-gray;
          padding: 10px 0 20px;
          clear: both;
        }
      }
  }

  &__footer{
    height: 90px;
    width: 100%;
    background-color: $sky-gray;

    &-form{
      margin: 0 40px;
      position: relative;

      &__body{
        position: relative;

        .message{
          width: calc( 100% - 150px );
          padding: 0 10px;
          margin: 20px 0;
          height: 50px;
          line-height: 50px;
          border: none;
        }

        .chat-file{
          height: 50px;
          width: 40px;
          margin: 32px 130px 20px 0;
          position: absolute;
          top: 0;
          right: 0;
          cursor: pointer;

          .image{
            position: absloute;
            top: 15px;
            left: 15px;
            display: none;
          }
        }
      }

        .submit{
          color: $white;
          height: 50px;
          width: 100px;
          text-align: center;
          background-color: $sky-blue;
          margin: 20px 0;
          position: absolute;
          top: 0;
          right: 0;
          border: none;
          cursor: pointer;
        }
    }
  }
}