.chat-side__user
  .chat-side__user-content
    %h4.chat-side__user-content-name
      = current_user.name
    = link_to new_group_path, class: "chat-side__user-content-new-group" do
      %i.fa.fa-pencil-square-o
    = link_to edit_user_registration_path, class: "chat-side__user-content--edit-user" do
      %i.fa.fa-cog

.chat-side__groups
  .chat-side__groups-list
    - current_user.groups.each do |group|
      = link_to group_messages_path(group) do
        .chat-side__group
          %p.chat-side__group-name
            = group.name
          %p.chat-side__group-message
            - if group.messages.present?
              - if latest_image(group).present?
                = "画像が投稿されています"
              - else
                = latest_body(group)
            - else
              = "まだメッセージはありません"
